@import url('../shared/design-tokens.css');

.data-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (min-width: 481px) and (max-width: 768px) {
  .data-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .data-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
